// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|PT+Serif:400,700');
// Font mixins

@mixin serif {
	font-family: 'PT Serif', serif;
	font-style: normal;
	font-weight: 400;
}

@mixin sans-serif {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
}